/Lecture2_InputOutput/nbproject/private/
/Lecture2_InputOutput/build/
/Lecture2_quadratic_equation/nbproject/private/
/Lecture2_quadratic_equation/build/
/Lecture3_ifswitch/nbproject/private/
/Lecture3_ifswitch/build/
/Lecture3_SimpleCalculator1/nbproject/private/
/Lecture3_SimpleCalculator1/build/
/Lecture3_SimpleCalculator1_switch/nbproject/private/
/Lecture3_SimpleCalculator1_switch/build/
/Lecture4_Quiz/nbproject/private/
/Lecture4_Quiz/build/
/Lecture4_Loop2/nbproject/private/
/Lecture4_Loop2/build/
/Lecture4_PrimeNumbers/nbproject/private/
/Lecture4_PrimeNumbers/build/
/Lecture4_WhileLoop/nbproject/private/
/Lecture4_CalculatorWhile/nbproject/private/
/Lecture4_WhileLoop/build/
/Lecture4_CalculatorWhile/build/
/Lecture4_stars1/nbproject/private/
/Lecture4_stars1/build/
/Lecture4_Stars2/nbproject/private/
/Lecture4_Stars2/build/
/Trials/nbproject/private/
/Trials/build/
/Lecture5_Arrays_tempreture/nbproject/private/
/Lecture5_Arrays_tempreture/build/
/Lecture5_FindElementInArray/nbproject/private/
/Lecture5_FindElementInArray/build/
/Lecture5_Methods/nbproject/private/
/Lecture5_Methods/build/
/Lecture5_MultiDim/nbproject/private/
/Lecture5_MultiDim/build/